<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/style.css" rel="stylesheet" />

    </head>
    <body>
        <div class="player-game-container game-container">
            <div class="info-container">
                <div class="score-wrap info-wrap">
                    <div class="row">
                        <span class="label">Current:</span>
                        <span class="score">0</span>
                    </div>
                    <div class="row">
                        <span class="label">Best:</span>
                        <span class="best-score">0</span>
                    </div>
                </div>
                <br />
                <div class="help-wrap info-wrap">
                    <h2>Controls</h2>
                    <div class="row">
                        <span class="label">Left:</span> Move left
                    </div>
                    <div class="row">
                        <span class="label">Right:</span> Move right
                    </div>
                    <div class="row">
                        <span class="label">Down:</span> Soft drop
                    </div>
                    <div class="row">
                        <span class="label">Up:</span> Rotate right
                    </div>
                    <div class="row">
                        <span class="label">X:</span> Rotate right
                    </div>
                    <div class="row">
                        <span class="label">Z:</span> Rotate left
                    </div>
                    <div class="row">
                        <span class="label">Spacebar:</span> Hard drop
                    </div>
                    <div class="row">
                        <span class="label">Enter:</span> Pause
                    </div>
                </div>
            </div>
            <canvas id="player-board" width="250" height="500"></canvas>
        </div>

        <div class="cpu-game-container game-container">
            <div class="info-container">
                <div class="score-wrap info-wrap">
                    <div class="row">
                        <span class="label">Current:</span>
                        <span class="score">0</span>
                    </div>
                    <div class="row">
                        <span class="label">Best:</span>
                        <span class="best-score">0</span>
                    </div>
                </div>
                <br />
                <div class="results-wrap info-wrap">
                    <h2>Results</h2>
                    <ol class="results-list" reversed="reversed">
                    </ol>
                </div>
                <br />
                <button class="replay-button hidden">Replay Best</button>
            </div>
            <canvas id="cpu-board" width="250" height="500"></canvas>
        </div>

        <script src="/static/js/vendor/jquery.js"></script>
        <script src="/static/js/vendor/underscore.js"></script>
        <script src="/static/js/lib/ijlostz.js"></script>
        <script src="/static/js/lib/ijlostz.ga.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>